<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssx.maxwell.kafka.enjoy.mapper.ElasticsearchMappingMapper">
    <resultMap id="baseMap" type="com.ssx.maxwell.kafka.enjoy.common.model.db.ElasticsearchMappingDO">
        <id column="id" property="id"/>
        <result column="db_database" property="dbDatabase"></result>
        <result column="db_table" property="dbTable"></result>
        <result column="remark" property="remark"></result>
        <result column="is_enable" property="enable"></result>
        <result column="is_deleted" property="deleted"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modify" property="gmtModify"></result>
        <result column="create_by" property="createBy"></result>
        <result column="modify_by" property="modifyBy"></result>
    </resultMap>
    <sql id="allColumns">
        id,
        db_database,
        db_table,
        remark,
        is_enable,
        is_deleted,
        gmt_create,
        gmt_modify,
        create_by,
        modify_by
   </sql>

    <sql id="tableName">
        elasticsearch_mapping
   </sql>

    <select id="list" resultMap="baseMap">
        select
        <include refid="allColumns"/>
        from
        <include refid="tableName"/>
        order by db_database asc, db_table asc
    </select>

    <insert id="insertOrUpdateBatch">
        insert into
        <include refid="tableName"/>
        (
        db_database,
        db_table,
        remark,
        is_enable,
        is_deleted,
        gmt_create,
        gmt_modify,
        create_by,
        modify_by )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.dbDatabase},
            #{item.dbTable},
            #{item.remark},
            #{item.enable},
            #{item.deleted},
            #{item.gmtCreate},
            #{item.gmtModify},
            #{item.createBy},
            #{item.modifyBy}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        gmt_modify = VALUES(gmt_modify)
    </insert>

</mapper>