<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssx.maxwell.kafka.enjoy.mapper.RedisMappingMapper">
    <resultMap id="baseMap" type="com.ssx.maxwell.kafka.enjoy.common.model.datao.RedisMappingDO">
        <id column="id" property="id"/>
        <result column="remark" property="remark"></result>
        <result column="create_by" property="createBy"></result>
        <result column="db_database" property="dbDatabase"></result>
        <result column="db_table" property="dbTable"></result>
        <result column="primary_expire" property="primaryExpire"></result>
        <result column="table_expire" property="tableExpire"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modify" property="gmtModify"></result>
        <result column="is_deleted" property="deleted"></result>
        <result column="is_enable" property="enable"></result>
        <result column="rule" property="rule"></result>
        <result column="template" property="template"></result>
        <result column="template_sql" property="templateSql"></result>
        <result column="table_order_by" property="tableOrderBy"></result>
        <result column="template_order_by" property="templateOrderBy"></result>
    </resultMap>
    <sql id="allColumns">
        id,
        db_database,
        db_table,
        primary_expire,
        table_expire,
        table_order_by,
        rule,
        template,
        template_sql,
        template_order_by,
        remark,
        is_enable,
        is_deleted,
        gmt_create,
        gmt_modify,
        create_by,
        modify_by
   </sql>

    <sql id="tableName">
        redis_mapping
   </sql>


    <select id="list" resultMap="baseMap">
        select
        <include refid="allColumns"/>
        from
        <include refid="tableName"/>
        order by db_database asc, db_table asc
    </select>

    <insert id="insertOrUpdateBatch">
        insert into
        <include refid="tableName"/>
        (
        db_database,
        db_table,
        primary_expire,
        table_expire,
        table_order_by,
        rule,
        template,
        template_sql,
        template_order_by,
        remark,
        is_enable,
        is_deleted,
        gmt_create,
        gmt_modify,
        create_by,
        modify_by )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.dbDatabase},
            #{item.dbTable},
            #{item.primaryExpire},
            #{item.tableExpire},
            #{item.tableOrderBy},
            #{item.rule},
            #{item.template},
            #{item.templateSql},
            #{item.templateOrderBy},
            #{item.remark},
            #{item.enable},
            #{item.deleted},
            #{item.gmtCreate},
            #{item.gmtModify},
            #{item.createBy},
            #{item.modifyBy}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        gmt_modify = VALUES(gmt_modify)
    </insert>

    <select id="getByDatabaseAndTable" resultMap="baseMap">
        select
        <include refid="allColumns"/>
        from
        <include refid="tableName"/>
        where is_deleted=0 and is_enable=0 and db_database= #{dbDatabase} and db_table=#{dbTable}
    </select>
</mapper>